*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

header, .banner, div, footer{
	background-color: #EBEBEB;
}
header{
	height: 100px;
	margin: 5px 0;
	position: relative;
}
header img{
	float: left;
	margin-left: 20px;
}
.links{
	position: absolute;
	top: 35px;
	right: 20px;
}
.links a{
	

	margin: 0 10px;
}
.banner{
	height: 150px;
	margin: 5px 0;
	position: relative;
}
.banner img{
	position: absolute;
	left: 25px;
	top: 25px;
}
.banner h2{
	position: absolute;
	left: 300px;
	top: 25px;
}
.banner p{
	position: absolute;
	left: 300px;
	top: 90px;
}
.banner .fa{
	font-size: 36px;
	margin: 5px;
}
.banner .gitlink{
	position: absolute;
	right: 20px;
	bottom: 10px;
}
#slider{
	height: 300px;
	margin: 5px 0;
}
.sect{
	display: flex;
	margin: 5px auto;
}
.coso{
	display: inline-block;
	height: 200px;
	width: 33.142%;
	position: relative;
	/*flex-direction: row;*/
	display: flex;
	
}
.coso img{
	/*position: absolute;
	top: 25px;
	left: 25px;*/
	justify-content: flex-start;
	margin: 15px;
}
.coso .texto{
	/*position: absolute;
	left: 200px;
	top: 25px;*/
	margin: auto;
	justify-content: flex-end;
	align-items: center;
}
footer{
	height: 50px;
	margin: auto;
}

footer .fa{
	font-size: 36px;
	margin: 5px;
}
footer .redes{
	float: right;
}


@media (max-width: 600px) {
	.coso{
		display: none;
	}
}