*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

header, .banner, div, footer{
	background-color: #EBEBEB;
}

header{
	height: 100px;
	margin: 5px 0;
	position: relative;
}

header img{
	float: left;
	margin-left: 20px;
}

.links{
	/*position: absolute;
	top: 35px;
	right: 20px;*/
	float: right;
	margin-top: 35px;
}

.links a{
	text-decoration: none;
  font-family: 'MedievalSharp', cursive;
	margin: 0 10px;
}

.banner{
	height: 150px;
	margin: 5px 0;
	position: relative;
	display: flex;
}

.banner img{
	/*position: absolute;
	left: 25px;
	top: 25px;*/
	justify-content: flex-start;
	margin: 25px;
}

/*.banner h3{
	position: absolute;
	left: 300px;
	top: 25px;
}
*/
.banner p{
	/*position: absolute;
	left: 300px;
	bottom: 10px;*/
	width: 75%;
}

.banner .fa{
	font-size: 36px;
	margin: 5px;
}

.banner .gitlink{
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.sect{
	display: flex;
	margin: 5px auto;
}

.coso{
	display: inline-block;
	height: 200px;
	padding-bottom: 50px;
	width: 33.142%;
	position: relative;
	/*flex-direction: row;*/
	display: flex;
}

.coso img{
	/*position: absolute;
	top: 25px;
	left: 25px;*/
	justify-content: flex-start;
	margin: 15px;
}

 .texto{
	/*position: absolute;
	left: 200px;
	top: 25px;*/
	margin: auto;
	justify-content: flex-end;
	align-items: center;
}

footer{
	height: 50px;
	margin: auto;
}

footer .fa{
	font-size: 36px;
	margin: 5px;
}

footer .redes{
	float: right;
}

footer a{
	text-decoration: none;
}

@media (max-width: 1030px) {

	.coso{
		padding-bottom: 225px;	
	}
}

@media (max-width: 800px) {

		header{
		padding-bottom: 100px;
	}

	.coso{
		display: none;		
	}
	.banner{
		padding-bottom: 150px;
	}
	.banner p{
		width: 50%;
	}
}

@media (max-width: 450px){

	header{
		padding-bottom: 100px;
	}

	.coso{
		display: none;		
	}
	.banner{
		padding-bottom: 250px;
	}
	.banner p{
		width: 50%;
	}
}



h3 {
	font-family: 'MedievalSharp', cursive;
}

p {
	font-family: 'Gloria Hallelujah', cursive;
}
